---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Pedro paramo.">
	<main>
		<h1 class="text-2xl text-white font-bold"> Hola mundo con astro!</h1>
		<Header />
	</main>
</Layout>
